jpsType: update
jpsVersion: '1.7.4'

name: Nginx.conf/Decidim
id: decidim-vanilla-nginx
description:
  short: Decidim Saas
categories:
  - apps/platforms
baseUrl: https://raw.githubusercontent.com/octree-gva/voca-jps/v0.0.3
logo: assets/decidim_logo.png

settings:
  fields:
    - name: DECIDIM_URL
      caption: DECIDIM_URL
      type: string

onInstall:
  - setConfigs
  - notifySuccess

actions:
  setConfigs:
    - cmd[bl]:
        - curl -s
          "https://raw.githubusercontent.com/octree-gva/voca-jps/v0.0.3/templates/nginx.conf"
          > /etc/nginx/nginx-jelastic.conf
  notifySuccess:
    - cmd[cp]:
        - cd /home/decidim/app
        - echo "time=\"$(date +%FT%TZ)\" level=info msg=\"Nginx for Decidim is
          ready\"" >> /var/log/run.log

success: Load balancer for decidim is set up.
