jpsType: update
jpsVersion: '1.7.4'

name: Scripts/Deploy/SetVolumes
id: Set Volumes
description:
  short: Decidim Saas
categories:
  - apps/platforms
baseUrl: https://raw.githubusercontent.com/octree-gva/voca-jps/v0.0.6
logo: assets/decidim_logo.png
skipNodeEmails: true

onInstall:
  - cmd[cp]:
      - cd /
      - tar xvfz $ROOT/tmp/volumes.tar.gz
      - cd $ROOT
      - chown -R decidim:decidim public db/migrate storage config
      - bundle
      - bundle exec rails --tasks | grep -E 'rails [^ ]*:install:migrations' | awk -F ' ' '{ print "bundle exec rails " $2 ";" }' | bash
      - bundle exec rails --tasks | grep -E 'rails [^ ]*:webpacker:install' | awk -F ' ' '{ print "bundle exec rails " $2 ";" }' | bash
      - npm ci
      - bundle exec rails db:migrate
      - bundle exec rails assets:precompile

  - forEach(nodes.cp):
      - restartContainer[${@i.id}]
