jpsType: update
jpsVersion: '1.7.4'

name: Scripts/Deploy/TraefikConf
id: decidim-vanilla-traefik
description:
  short: Decidim Saas
categories:
  - apps/platforms
baseUrl: https://raw.githubusercontent.com/octree-gva/voca-jps/v0.0.6
logo: assets/decidim_logo.png
skipNodeEmails: true

settings:
  fields:
    - name: URL
      caption: URL
      type: string
    - name: LAN_IP
      caption: LAN_IP
      type: string
    - name: SERVICE_NAME
      caption: SERVICE_NAME
      type: string
    - name: SERVICE_HOST_NAME
      caption: SERVICE_HOST_NAME
      type: string

onInstall:
  - cmd[bl,cp]:
      - echo "[JELASTIC] ADD ${settings.SERVICE_NAME} (${settings.SERVICE_HOST_NAME})" >> /var/log/run.log
      - export  URL="${settings.URL}" LAN_IP="${settings.LAN_IP}"
        SERVICE_NAME="${settings.SERVICE_NAME}" SERVICE_HOST_NAME="${settings.SERVICE_HOST_NAME}"
      - echo "time=\"$(date +%FT%TZ)\" level=info msg=\"decidim $URL is binded
        to $LAN_IP\"" >> /var/log/run.log
      - curl -s
        "https://raw.githubusercontent.com/octree-gva/voca-jps/v0.0.6/templates/traefik-decidim.yml"
        > /tmp/$SERVICE_NAME.yml
      - mkdir -p cd /config/hosts && cd /config/hosts && mkdir -p $SERVICE_HOST_NAME
      - (envsubst \$URL,\$SERVICE_NAME,\$LAN_IP < /tmp/$SERVICE_NAME.yml) >
        ./$SERVICE_HOST_NAME/$SERVICE_NAME.yml
      - echo "time=\"$(date +%FT%TZ)\" level=info msg=\"decidim
        $PWD/$SERVICE_HOST_NAME/$SERVICE_NAME.yml up and running\"" >> /var/log/run.log
      - rm /tmp/$SERVICE_NAME.yml
      - touch /config/hosts/touch.md
      - curl -s "$URL" > /dev/null 
