http:
  routers:
    router-$SERVICE_NAME:
      rule:  Host(`$URL`)
      service: "$SERVICE_NAME"
      middlewares: "maintenance-$SERVICE_NAME"
      tls:
        certResolver: letsencrypt
      priority: 10

  middlewares:
    maintenance-$SERVICE_NAME:
      replacePath:
        path: "/errors/502"

  services:
    $SERVICE_NAME:
      loadBalancer:
        servers:
          - url: "$ERROR_URL"
