http:
  routers:
    router-$SERVICE_NAME:
      rule:  Host(`$URL`)
      service: "$SERVICE_NAME"
      tls:
        certResolver: letsencrypt
      priority: 10

  services:
    $SERVICE_NAME:
      loadBalancer:
        servers:
          - url: "$ERROR_URL"