actions:
  traefikReady:
    - install:
      jps: scripts/deploy/traefik-conf.yml?_r=${fn.random}
      envName: ${settings.TRAEFIK_ENVNAME}
      loggerName: 'TRAEFIK_READY'
      settings:
        URL: ${settings.PUBLIC_DOMAIN}
        SERVICE_NAME: decidim-${settings.INSTANCE_UUID}
        SERVICE_HOST_NAME: ${settings.SERVICE_HOST_NAME}
        LAN_IP: ${nodes.bl.master.intIP}
  traefikWakeUp:
    - cmd[vocacity]: curl -k ${settings.PUBLIC_DOMAIN}
